<div id="game" style="overflow-y: scroll; height: 100%;">
	<div class="panel panel-default">

		<div class="panel-heading">Book of Una Game</div>
		<div id="winningsDiv"></div>
		<div style="display:flex;">
			<div id="collectionsButtonDiv" style="margin-left: 15px;" hidden></div>
		</div>
		
		<div class="panel-body">
			<p>
				<button class="btn btn-default" onclick="javascript:toggleMenu()">Menu</button>
				<button class="btn btn-default"
					onclick="javascript:downloadBoilerplate()">Download
					Boilerplate as ZIP</button>
				<button class="btn btn-default" onclick="javascript:goToRigPage()">Rigging
					page</button>
			</p>

			<div id="spinnerDiv"></div>
		</div>
	</div>
	<div class="modal fade" id="summaryModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Summary</h4>
				</div>
				<div id="summaryWindowBody" class="modal-body"></div>
				<div style="text-align: center">
					<button id="feature1Button" data-dismiss="modal"
						class="btn btn-primary btn-lg">CLOSE</button>
					<br />
					<br />
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="fsSelectorModal" tabindex="-1"
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
		data-keyboard="false" data-backdrop="static">
		<div id="fsSelectorContainer" class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Free Spins Selector</h4>
				</div>
				<div id="fsSelectorModalBody" class="modal-body">
					<div id="fsSelectorDiv"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="collectionsModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true"
		data-keyboard="false" data-backdrop="static">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Tokens</h4>
				</div>
				<div id="collectionsModalBody" class="modal-body"></div>
			</div>
		</div>
	</div>
	
</div>