#game h1 {
	background-color: white;
	color: blue
}

#game label {
	color: black;
	font-size: 1.2em;
	vertical-align: top
}

.longInput {
	width: 600px
}

.wild-element {
	background-color: #8a2be2;
}

.ten-element {
	background-color: #00ffff;
}

.jack-element {
	background-color: #00ffff;
}

.queen-element {
	background-color: #00ffff;
}

.king-element {
	background-color: #00ffff;
}

.ace-element {
	background-color: #00ffff;
}

.heart-element {
	background-color: #00ff00;
}

.unicorn-element {
	background-color: #00ff00;
}

.princess-element {
	background-color: #00ff00;
}

.knight-element {
	background-color: #00ff00;
}

.modal-backdrop {
	display: none !important;
}

.centered-text {
	text-align: center;
}

.myBlock {
	display: inline-block;
	margin: 0 auto;
	width: 100px;
}

.myBigBlock {
	display: inline-block;
	margin: 0 auto;
	width: 200px;
}

.strategyDiv {
	margin: 0 auto;
}