#reelTable {
    margin-top:10px; 
    margin-left: auto;
    margin-right: auto;
}
.spin-element {
    width: 150px; 
    height: 150px;
    border: 3px solid grey;
    color: black;
    text-align: center;
    font-weight: bold;
}

.blank-element {
    width: 150px; 
    height: 150px;
}

td.winningLineCellId {
    width: 10%;
}

td.winningLineCell {
    width: 20%;
}

td.winningLineCellPositions {
    width: 30%;
}
.winning-spot {
    border: 6px solid #ff00ff;
    background-color: #FFFFFF !important; 
    opacity:0.6;
}
.non-winning-award-spot {
    background-color: #1E90FF !important; 
    opacity:0.6;
}
.btn-circle {
  width: 70px;
  height: 70px;
  border-radius: 35px !important;
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blink {
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}

.stuck {
	border: 6px solid gold;
}

.toRemove {
	border: 6px solid #ff00aa;
}
